body {
    width: 20em;
    height: 11em;
    font-size: 18px;
    background-color: #e6f5f1;

}

.heading {
    display: flex;
    justify-content: center;
    color: #348d01;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px #d3e6ef
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form-label {
    flex: 0 0 30%;
    margin-right: 1rem;
}

.form-select {
    flex: 1;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(43, 206, 56, 0.25);
}

.text-center {
    text-align: center;
}

.mg-left {
    margin-left: 2rem;

}

.mt-2 {
    margin-top: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.1;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #1ec418;
    border-color: #7bde42;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
}

.off {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.button-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    margin-left: 40px;
}


.links {
    text-decoration-line: none;
}

.btn-fail {
    background-color: #5b5f5c;border-color: #5b5f5c;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.center {
    display: flex;
    justify-content: center;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.float-start {
    float: left;
    margin-right: 10px;
}

.float-end {
    float: right;
    margin-left: 10px;
}
.imgSmall {
    width: 16px;
    height: 16px;
}
